body {
    margin: auto;
    height: 100%;
}

#root {
    height: 100%;
}

.ReactVirtualized__Table__headerRow {
    background-color: #A3BAE9;
}

.wrapper {
    text-align: center;
}

.ReactVirtualized__Table__Grid {
    margin: 0px auto;
}