name: Testing (Pull Request)
on: pull_request
jobs:
  test:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: set up node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: check out code
        uses: actions/checkout@v3
      - name: rename config file
        run: mv apps/dicty-frontpage/src/common/utils/clientConfig.sample.ts apps/dicty-frontpage/src/common/utils/clientConfig.ts
      - name: install
        run: yarn install
      - name: unit tests
        run: yarn coverage
